<button type="button" class="btn btn-primary" (click)="openAlert()">Mostrar Alerta</button>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': displayAlert, 'd-block': displayAlert}" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Alerta!</h5>
                <button type="button" class="close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <button class="btn btn-primary"  (click)="print()" [disabled]="!isPdfLoaded">Print</button>

              
              <pdf-viewer [src]="src"
              [original-size]="false"
              style="width: 700px; height: 800px"
              (after-load-complete)="onLoaded($event)"
  ></pdf-viewer>
<!--               
                    <pdf-viewer [src]="src"
                                [render-text]="true"
                                [original-size]="false"
                                style="width: 700px; height: 800px">
                                (after-load-complete)="onLoaded($event)"
                    </pdf-viewer> -->
       
                    <!-- <pdf-viewer [src]="src"
                    [original-size]="false"
                    (after-load-complete)="onLoaded($event)"
        ></pdf-viewer> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeAlert()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<hr>
<table>
  <tr>
    <th>Columna 1</th>
    <th>Columna 2</th>
  </tr>
  <tr>
    <td>Valor 1</td>
    <td>Valor 2</td>
  </tr>
  <tr>
    <td>Valor 3</td>
    <td>Valor 4</td>
  </tr>
</table>
